/*======================= Header ============================================ */
img.mini-logo-img{
  display: none;
}
.phone-logo{

  a{
    color: #000;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    text-align: center;
  }
}
.header-phone{
  display: block;
  margin: 0 auto;
  a{
    text-align: center
  }
}
.navbar-default.affix{
  margin-top:-172px;
}
.navbar-default{
  height:100px;
  background:$offwhite;
  border-color: transparent;
  border-bottom: 10px solid $rose-pink;
  z-index: 9999;
}
.navbar-collapse{
  border-top: transparent;
  padding-top: 75px
}
img.logo-img{
  display: block;
  width:100px;
  margin: 0 auto;
}
.social{
  .socialIcons{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .twitter{
      background: url("./images/twitter-sprite-clr.png") no-repeat;
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 10px 5px 0 0;
    }
    .twitter:hover{
      background-position-y: -34px;
    }
    .facebook{
      background: url("./images/facebook-sprite-clr.png") no-repeat;
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 10px 5px 0 0;
    }
    .facebook:hover{
      background-position-y: -34px;
    }
    .instagram{
      background: url("./images/instagram-sprite-clr.png") no-repeat;
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 10px 5px 0 0;
    }
    .instagram:hover{
      background-position-y: -34px;
    }
  }
}
.navbar-toggle{
  margin-top:-2px;
}
 .navbar-default .navbar-toggle:hover{
   background: $light-pink;
 }
 .navbar-default .navbar-toggle .icon-bar{
   background: $rose-pink;

 }
.navbar-header{
  margin-top:30px;
  .phone-logo{
    visibility: hidden;
  }
}
ul#menu-main-menu{
  background: #fff;
  z-index: 9999;
  margin-top:-70px;
  li{
    a{
      color:#000;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
.navbar{
  width: 100%;
  margin-bottom:0px;
  //margin-top: -172px;
}
.nav{
  li{
    a{
      padding: 10px 12px;
    }
  }
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background: transparent !important;
  color: $rose-pink !important;
}
.navbar-default .navbar-collapse{
  width: 500px;
  margin: 0 auto;
}
/*================================= home page =========================================*/

//slider
.carousel-inner{

}
.caption-wrapper{
  position: relative;
  top:-130px;
  width: 50%;
  margin: 0 auto;

}
.caption{
  min-height:60px;
  h1{
    font-family: 'Rochester', cursive;
    text-align: center;
    font-size: 28px;
    color:#fff;
  }
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
  margin-top: -52px;
}
.carousel-control.left{
 background-image: none;
}
 .carousel-control.right{
  background-image: none;
}
/*================================= Hero image =========================================*/

#mainPhoto{
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  margin-top: -20px;
  h1{
    color: #fff;
    font-family: 'Rochester', cursive;
    text-align: center;
    padding-top:70px;
  }
}

.affix{
  -webkit-transition:padding 0.5s linear;
  -moz-transition:padding 0.5s linear;
  -o-transition:padding 0.5s linear;
  transition:padding 0.5s linear;
  .navbar-header {
    .phone-logo{
      visibility: visible;

    }
    .socialIcons{
        visibility: visible;
    }
  }
  img.mini-logo-img{
    display: block;
  }
  .header-phone {
    margin: 0px 0px 0px 80px;
    position: relative;
    top: -30px;
  }

}
.affix-top {
  padding-top:5px;
  padding-bottom:15px;
  -webkit-transition:padding 0.5s linear;
  -moz-transition:padding 0.5s linear;
  -o-transition:padding 0.5s linear;
  transition:padding 0.5s linear;
}
