/*==========================================  Main scss ===================================================================== */
// Home Page
#collections{
  .borderBox{
    border: solid 2px #000;
    min-height: 200px;
    h2{
      text-align: center;
      font-family: 'Rochester', cursive;
      color: $rose-pink;
    }
    hr{
      border-top: solid 2px #000;
      margin: 0 30px;
    }
  }
}
a.btn-main{
  display: block;
  background: #fff;
  border: solid 1px #000;
  font-family: 'Rochester', cursive;
  color: $rose-pink;
  padding: 6px 18px;
  margin: 20px auto;
  text-align: center;
  width: 180px;
  border-radius: 0;
}
#about{
  background-image: url('../images/background-rose.png');
  background-repeat: no-repeat;
  background-position-x:-50px;
  background-size: contain;
  h2{
    text-align: center;
    font-family: 'Rochester', cursive;
    color: $rose-pink;
  }
  hr{
    border-top: solid 2px #000;
    margin: 0 30px;
  }
  p{
    margin: 10px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}
#instagramFeed{
  .borderBox{
    border: solid 2px #000;
    min-height: 200px;
    h2{
      text-align: center;
      font-family: 'Rochester', cursive;
      color: $rose-pink;
    }
    hr{
      border-top: solid 2px #000;
      margin: 0 30px;
    }
  }

}
img.instagram-img{
  width: 16px;
  margin: 0 0 2px 16px;
}
//filler box for dev only
img.filler{
  padding: 10px;
}
#qanda{
  h2{
    text-align: center;
    font-family: 'Rochester', cursive;
    color: $rose-pink;
  }
  hr{
    border-top: solid 2px #000;
    margin: 0 30px;
  }
  .panel-group .panel,.panel-default{
    background: transparent;
    border: none;
    border-bottom: 1px solid $rose-pink;
    border-radius: 0px;
  }
  .panel-default>.panel-heading{
    background: transparent;
    border: none;
  }
  h3.panel-title{
    font-weight: 800;
  }
}
#contact{
  h2{
    text-align: center;
    font-family: 'Rochester', cursive;
    color: $rose-pink;
  }
  hr{
    border-top: solid 2px #000;
    margin: 0 30px;
  }
}
.reset{
  clear: both;
}
/*======================================= About Page =====================================================*/
.contentArea{
  padding: 20px 40px;
  font-family:'Avenir Next W01';

}
/*======================================= Collections Page =====================================================*/
.collectionsContent{
  padding: 40px;
  text-align: right;
  background-repeat: no-repeat;
  background-position: -100vw;
  h2{
    font-family: 'Rochester', cursive;
    color: $rose-pink;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
  }
}
#cakeGallery{
  margin-bottom: 20px;
  .borderBox{
    border: solid 2px #000;
    min-height: 200px;
    h2{
      text-align: center;
      font-family: 'Rochester', cursive;
      color: $rose-pink;
    }
    h4{
      text-align: center;
    }
    hr{
      border-top: solid 2px #000;
      margin: 0 30px;
    }
  }
}
#collectionLinks{
  .leftSide{
    text-align: center;
  }
  .rightSide{
    text-align: center;
  }
}
/*======================================= Blog Page =====================================================*/
#postSection{
  .postContent{
    padding: 20px;
    h3{
      color: $rose-pink;
      font-weight: 700;
    }
    span p{
      text-transform: uppercase;
      border-bottom: solid 2px #000;
    }
    img{
      display: block;
      width: 290px;
      height: auto;
      margin: 0 auto;

    }
  }
  .wp-pagenavi{
    width:150px;
    margin: 0 auto;
    padding: 20px 0;
    span{
      color: $rose-pink;
    }
    a{
      color: $rose-pink;
    }
    img{
      display: block;
      width: 290px;
      height: auto;
      margin: 0 auto;
    }
  }
}
/*=======================================Post Page =====================================================*/
#singlePost{
  a.btn-main{
    width:100px;
    font-size: 18px;
  }
  .latestPostContent{
    padding: 20px;


    h2{
      color: $rose-pink;
    }
    h3{
      text-transform: uppercase;
      border-bottom: 2px solid #000;
    }
    img{
      display: block;
      width: 290px;
      height: auto;
      margin: 0 auto;
    }
  }
}
#divider{
  border-bottom: 2px solid #000;
  margin: 20px;
}
#otherPost{
  .otherPostContent{
    padding: 20px;
    h2{
      color: $rose-pink;
    }
    h3{
      text-transform: uppercase;
      border-bottom: 2px solid #000;
    }
    img{
      display: block;
      width: 290px;
      height: auto;
      margin: 0 auto;
    }
  }
}
/*=======================================Contact Page =====================================================*/
.page-template-contact{
  #contact{
    display: none;
  }
}
#contactSection{
  h2{
    text-align: center;
    font-family: 'Rochester', cursive;
    color: #ff7174;
  }
  hr{
    border-top: solid 2px #000;
    margin: 0 30px;
  }
  span{
    a{
      color: #000;
      text-decoration: none;
      font-size: 16px;
      text-align: center;
      margin-top: 20px;
    }
  }
  input[type=submit] {
    width:100%;
    background: #fff;
    font-family: 'Rochester', cursive;
    color: $rose-pink;
    border: solid 1px #000;
    font-size: 22px;
  }
  .input-lg{
    border-radius: 0;
    border: solid 1px #000;
  }
}
#menuSection{
  h2{
    text-align: center;
    font-family: 'Rochester', cursive;
    color: #ff7174;
  }
  hr{
    border-top: solid 2px #000;
    margin: 0 30px;
  }
}
/*======================================= Catering Page =====================================================*/
#cateringSection{
  h2{
    text-align: center;
    font-family: 'Rochester', cursive;
    color: #ff7174;
  }
  hr{
    border-top: solid 2px #000;
    margin: 0 30px;
  }
}

/*======================================= Cake Gallery =====================================================*/

.clickme {
    background-color: #eee;
    border-radius: 4px;
    color: #666;
    display: block;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-decoration: none;
}

.clickme:hover {
    text-decoration: underline;
}

.box {
    //background-color: #ccc;
    border-radius: 4px;
    color: #333;
    margin: 5px 0;
    padding: 5px 10px;
    width: auto;
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
#cakeGallery{
  .collection{
    text-align: center;
    padding: 5px;
    span a{
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      font-size: 16px;
      font-weight: 700;
      margin: 15px 0 0 0;
    }
  }
}
