/* responsive settings */
$screen-xl-min: 1600px;
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Sass Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  // sticky header
  .affix {
        top: 0;
        width: 100%;
        z-index: 9999;

    }

    .affix + .container-fluid {
        padding-top: 70px;

    }

  .affix{
    .navbar-header {
      .phone-logo{
        visibility: visible;
      }
      .socialIcons{
          visibility: visible;
      }
    }
  }
  .navbar-default.affix{
    margin-top: 0;
  }
  .phone-logo{
    a{

      float: left;
    }
  }
  .navbar-nav {
      float: none;
      display: block;
      margin: 0 auto;
      width: 390px;
      clear: both;
  }
  ul#menu-main-menu{
    background: transparent;
    width:100%;
    li{
      a{
        font-size: 14px;
      }
    }
  }
  .navbar-default{
    height:52px;

  }
  .navbar-collapse{
    position: relative;
    top:-30px;
    padding-top: 0;
  }
  .navbar-default .navbar-collapse{
    width: 500px;
  }
  .navbar-header{
    width:100%;
    margin-top: 0;
    img.mini-logo-img{
      display: block;
      float: left;
      width: 25px;
      margin-left: -15px;
    }

    .phone-logo{
      visibility: hidden;
      margin-top: 20px;
      a{
         font-size: 14px;
         float:left;
         font-weight: 600;
      }
      a.header-phone{
        padding-left: 5px;
        top: 0;
        margin: 0 auto;
      }
    }
    .socialIcons{
      visibility: hidden;
      width: 15%;
      margin: 0 ;
      display: flex;
      justify-content: space-between;
      float:right;
      .twitter{
        background: url("./images/twitter-sprite-clr.png") no-repeat;
        display: inline-block;
        width: 30px;
        height: 30px;
        //background-position-y: -30px;
        //float: right;
        margin: 10px 5px 0 0;
      }
      .twitter:hover{
        background-position-y: -34px;
      }
      .facebook{
        background: url("./images/facebook-sprite-clr.png") no-repeat;
        display: inline-block;
        width: 30px;
        height: 30px;
        //background-position-y: -30px;
        //float: right;
        margin: 10px 5px 0 0;
      }
      .facebook:hover{
        background-position-y: -34px;
      }
      .instagram{
        background: url("./images/instagram-sprite-clr.png") no-repeat;
        display: inline-block;
        width: 30px;
        height: 30px;
        //background-position-y: -30px;
        //float: right;
        margin: 10px 5px 0 0;
      }
      .instagram:hover{
        background-position-y: -34px;
      }
    }
  }
  .flex{
    display: flex;
    justify-content: space-around;
  }
  .social{
    .socialIcons{
      display: block;
      width: 100%;
      .twitter{
        float:right;
      }
      .facebook{
        float:right;
      }
      .instagram{
        float:right;
      }
    }
  }
  .carousel-inner{
    top:-35px;
  }
  .caption-wrapper{
    top:-300px;
    .caption{
      min-height: 160px;
      h1{
        font-size: 70px;
      }
    }
  }
  .carousel {
    height: 100%;
    max-height: 486px;
  }
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    margin-top: -85px;
  }
  #instagramFeed{
    a.btn-main.left{
      float: right;
    }
    a.btn-main.right{
      float: left;
    }
  }
  #contact{
    .borderBox{
      min-height: 1100px;
    }
    
  }
  img.footer-logo-img{
    margin:0;
    width: 80px;
  }
  .contact-nav p {
    text-align: right;
    margin-top: 25px;
    font-weight: 700;
    padding-right: 20px;
  }
  .footer-nav{
    ul{
      column-count: unset;
      display: flex;
      justify-content: space-around;
    }
    .navbar-nav{
      width: 100%;
    }
  }
  /*============== Hero image ===============*/
  #mainPhoto{
    min-height: 384px;
    h1{
      font-size: 100px;
      padding: 70px 130px;
    }
  }
  /*============== Home Page ===============*/



  /*==================== About Content ==========*/
  .contentArea{
    p{
      font-size: 16px;
      font-weight: 600;
    }
  }
  /*==================== Collections Content ==========*/
  .collectionsContent{
    background-position: 16px;
    background-size:contain;
    padding: 20px 60px;
    margin-bottom: 10px;
  }
  #collectionLinks{
    min-height: 300px;
    .leftSide{
      border-right: 2px solid #000;
      padding: 20px;
      margin:20px 0 30px 0;

      a.btn-main{
        position: absolute;
        top: 170px;
        right: 94px;
      }
    }
    .rightSide{
      padding: 20px;
      margin:20px 0 30px 0;

      a.btn-main{
        position: absolute;
        top: 170px;
        left: 94px;
      }
    }
  }
    /*==================== Blog Content ==========*/
  #postSection{
    .postContent{
      img{
        width: 220px;
      }
    }
  }
  /*==================== Post Content ==========*/
  #singlePost{
    a.btn-main{
      margin: 20px 0 0 0;
    }
  }

  #divider{
    margin: 20px 20px 60px 20px;
  }
  #otherPost{
    background-image: url(./images/background-rose.png);
    background-repeat: no-repeat;
    background-position-x: -320px;
    background-size: contain;
    padding-bottom: 30px;
    .otherPostContent{
      img{
        width: 220px;
      }
    }
  }
    /*==================== contact page ==========*/



    /*==================== menu page ==========*/


    /*==================== Catering page ==========*/
    #cateringSection{
      background-image: url(./images/background-rose.png);
      background-repeat: no-repeat;
      background-position-x: -320px;
      background-position-y: 338px;
      background-size: contain;
      padding-bottom: 30px;

    }
    /*==================== Collections Section ==========*/
    #cakeGallery{
      .borderBox{
        padding: 20px;
      }
    }
}
/* Medium devices (desktops, 992px and up) =====================================================================================================*/
@media (min-width: $screen-md-min) {
  .navbar-header{

    img.mini-logo-img{
      width: 40px;
    }
    .phone-logo{
      //visibility: visible;
      margin-top: 6px;
      a{
        font-size: 18px;

      }
      a.header-phone{
        margin-top: 5px;
      }
    }
    .socialIcons{
      //visibility: visible;
    }
  }
  .navbar-nav{
    width: 460px;
  }
  ul#menu-main-menu{
    li{
      a{
        font-size: 18px
      }
    }
  }
  .navbar-collapse{
    top:-38px;
  }
  .navbar-default .navbar-collapse {
    width: 580px;
  }
  .caption-wrapper {
    top: -382px;
    .caption{
      min-height: 200px;
      h1{
        font-size: 90px;
      }
    }
  }
  .carousel{
    max-height: 588px;
  }
  #collections{
    .borderBox{
      h2{
        font-size: 48px;
      }
    }
  }
  a.btn-main{
    font-size: 22px;
    text-decoration: none;
  }
  #about{
    h2{
      font-size: 48px;
      margin: 50px 0 20px;
    }
    p{
      font-size: 24px;
      font-weight: 500;
      line-height: 30px;
    }
    a.btn-main{
      margin-bottom: 80px;
    }
  }
  #instagramFeed{
    .borderBox{
      h2{
        font-size: 48px;
        margin: 30px 0;
      }
    }
  }
  #qanda{
    h2{
      font-size: 48px;
      margin: 30px 0;
    }
    h3.panel-title{
      font-size: 22px;
      font-weight: 700;
      a{
        text-decoration: none;
      }
    }
    .panel-body{
      font-size: 18px;
      font-weight: 600;
      padding: 10px 50px;
    }
  }
  #contact{
    .borderBox{
      min-height: 1150px;
    }
    h2{
      font-size: 48px;
      margin: 30px 0;
    }
  }
  #connect{
    h2{
      font-size: 48px;
      margin: 30px 0;
    }
    .footerSocials{
      width: 60%;
    }
  }
  img.footer-logo-img {
    margin: 0;
    width: 100px;
  }
  .contact-nav{
    p{
      font-size: 18px
    }
  }
  .footer-nav{
    ul{
      li{
        a{
          font-size: 16px;
        }
      }
    }
  }
  /*============== Hero image ===============*/
  #mainPhoto{
    min-height: 500px;
    h1{
      font-size: 130px;
      padding: 100px 170px;
    }
  }
  /*==================== About Content ==========*/
  .contentArea{
    p{
      font-size: 20px;

    }
  }
    /*==================== Collections Content ==========*/
    .collectionsContent{
      h2{
        font-size: 48px;
        margin-top: 30px;
      }
      p{
        font-size: 20px;
        line-height: 34px;
      }
    }
    #collectionLinks{
      min-height: 400px;
        .leftSide{
          p{
            font-size: 20px;
            line-height: 34px;
          }
          a.btn-main{
            width: 220px;
            top:250px;
            right: 125px;
          }
      }
      .rightSide{
        p{
          font-size: 20px;
          line-height: 34px;
        }
        a.btn-main{
          width: 220px;
          top:250px;
          left: 125px;
        }
      }
    }
    /*==================== Blog Content ==========*/
  #postSection{
    .postContent{
      img{
        width: 290px;
      }
    }
  }
    /*==================== Post Content ==========*/
  #singlePost{
    .latestPostContent{
      h2{
        font-weight: 700;
      }
      h3{
        padding-bottom: 10px;
      }
      p{
        font-size: 20px;
        line-height: 26px;
      }
      img{
        width: 290px;
      }
    }
  }
  #otherPost{
    .otherPostContent{
      h2{
        font-weight: 700;
      }
      h3{
        padding-bottom: 10px;
      }
      p{
        font-size: 20px;
        line-height: 26px;
      }
      img{
        width: 290px;
      }
    }
  }
    /*==================== Contact Page ==========*/
    #contactSection{
      h2{
        font-size: 48px;
      }
      span {
        a{
          font-size: 18px;
          margin-bottom: 40px;
        }
      }
    }
    /*==================== menu page ==========*/
    #menuSection{
      h2{
        font-size: 48px;
      }
    }
    /*==================== catering page ==========*/
    #cateringSection{
      background-position-x: -200px;
      background-position-y: 170px;
      h2{
        font-size: 48px;
      }
    }
    /*==================== Collections Section ==========*/
    #cakeGallery{
      .borderBox{
        padding: 20px 100px;
      }
    }

}
/* Large devices (large desktops, 1200px and up)============================================================================================ */
@media (min-width: $screen-lg-min) {
  #mainPhoto {
    min-height: 640px;
  }
  .caption-wrapper {
    top: -460px;
    .caption{
      min-height: 250px;
      h1{
        font-size: 112px;
      }
    }
  }
  #hp-hero{
    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
      width: 100vw;
    }
  }
  /*==================== Collections Content ==========*/
  .collectionsContent{
    h2{
      font-size: 48px;
      margin-top: 30px;
    }
    p{
      font-size: 28px;
      line-height: 40px;
    }

  }
  .carousel{
    max-height: 790px;
  }
  #collectionLinks{
    min-height: 440px;
      .leftSide{
        p{
          font-size: 28px;
          line-height: 40px;
        }
        a.btn-main{
          width: 220px;
          top:300px;
          right: 175px;
        }
    }
    .rightSide{
      p{
        font-size: 28px;
        line-height: 40px;
      }
      a.btn-main{
        width: 220px;
        top:300px;
        left: 175px;
      }
    }
  }
  /*==================== Blog Content ==========*/
  #postSection{
    .postContent{
      img{
        width: 350px;
      }
      h3{
        font-size: 28px;
      }
      span p{
        font-size: 16px;
      }
      p{
        font-size: 16px;
      }
    }
    .wp-pagenavi{
      padding: 20px 0 60px 0;
    }
  }
  /*==================== Catering Page ==========*/
  #cateringSection{
    background-position-x: -45px;
    background-position-y: 170px;
  }
  /*==================== Collections Section ==========*/
  #cakeGallery{
    .borderBox{
      padding: 20px 200px;
    }
  }
}
/* Large devices (large desktops, 1600px and up)============================================================================================ */
@media (min-width: $screen-xl-min) {
  #mainPhoto {
    min-height: 790px;
  }
  .carousel {
    max-height: 935px;
  }
}
