/*========================================= Variables =================================================*/


// Colors
$offwhite:rgb(248, 248, 248);
$rose-pink: rgb(255, 113, 116);
$light-pink: rgb(228, 155, 158);








// hovers
